.config/Code/*
!.config/Code/User/settings.json

.config/bpytop/*
!.config/bpytop/bpytop.conf

.config/fish/*
!.config/fish/config.fish
!.config/fish/functions/

.config/lvim/*
!.config/lvim/config.lua
!.config/lvim/install.sh

.config/ranger/*
!.config/ranger/rc.conf

.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/aliases.zsh
!.config/zsh/functions.zsh
!.config/zsh/export.zsh

