Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! st.font: JetBrainsMono Nerd Font:style:medium:pixelsize=20
st.font2: Twemoji:antialias=true:autohint=true:pixelsize=20
st.font: FiraCode Nerd Font:style:medium:pixelsize=20
! st.font: CaskaydiaCove Nerd Font:style:medium:pixelsize=20

! window padding
st.borderpx: 0

!- 0.1 to 0.9 = transparency
st.alpha: 1.00
! st.alpha: 0.97

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!! Gruvbox Material Dark !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*background: #1d2021
*foreground: #d4be98
*color0:  #32302f
*color8:  #32302f
*color1:  #ea6962
*color9:  #ea6962
*color2:  #a9b665
*color10: #a9b665
*color3:  #e78a4e
*color11: #e78a4e
*color4:  #7daea3
*color12: #7daea3
*color5:  #d3869b
*color13: #d3869b
*color6:  #89b482
*color14: #89b482
*color7:  #d4be98
*color15: #d4be98

!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!! ONE DARK !!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! *.foreground:    #ABB2BF
! *.background:    #1E2127
! *.cursorColor:   #5C6370
! *.highlightColor:#3A3F4B
! *.color0:        #1E2127
! *.color8:        #5C6370
! *.color1:        #E06C75
! *.color9:        #E06C75
! *.color2:        #98C379
! *.color10:       #98C379
! *.color3:        #D19A66
! *.color11:       #D19A66
! *.color4:        #61AFEF
! *.color12:       #61AFEF
! *.color5:        #C678DD
! *.color13:       #C678DD
! *.color6:        #56B6C2
! *.color14:       #56B6C2
! *.color7:        #ABB2BF
! *.color15:       #FFFFFF


!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!! TOKYONIGHT !!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! *.foreground:    #A9B1D6
! *.background:    #1A1B26
! *.cursorColor:   #A9B1D6
! *.highlightColor:#3A3F4B
! ! Black colours
! *.color0:        #1A1B26
! *.color8:        #4E5173
! ! Red colours
! *.color1:        #F7768E
! *.color9:        #E06C75
! ! Yellow colours
! *.color2:        #E0AF68
! *.color10:       #D19A66
! ! Green colours
! *.color3:        #9ECE6A
! *.color11:       #98C379
! ! Blue colours
! *.color4:        #7AA2F7
! *.color12:       #61AFEF
! ! Magenta (pink, !green) colours
! *.color5:        #9A7ECC
! *.color13:       #C678DD
! ! Cyan (blue + green)
! *.color6:        #4ABAAF
! *.color14:       #56B6C2
! ! White colours
! *.color7:        #ACB0D0
! *.color15:       #ABB2BF
